.topo {

    background-color: aqua;
    margin-top: 2px;
    height: 45px;
}
.cabecalho{
    background-color: rgb(50, 50, 179);
    height: 100px;
    

}
.corpo{
    margin-top: 2px;
    height: 1500px;
}
.corpo #foto-de-frente{

    width: 395px;
    height: 600px;
    float:right;
    

}
.cabecalho .nome_titulo{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 2px;
}


.topo #botao_topo #img_linkedin{
    width: 5px;
    height: 5px;
    margin: 0;
}
.topo #qr-code{
    width: 30px;
    height: 30px;
    margin: 0;
}
.corpo{
    background-color: rgb(116, 98, 98);
    font-family: 'Courier New', Courier, monospace;
}

.body_principal{
    background-color: rgb(65, 33, 33, 0.5);
}
.rodape{
    background-color: rgb(216, 179, 179);
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}