
.principal{

    display: flex;
    background-color: rgb(128, 120, 120);
    text-align: center;
    align-items: center;
    justify-content: center;
}
.principal .principal__apresentacao{

    color: #ffffff;
    width: 450px;
    padding: 20px;
    background-color: rgb(39, 43, 43);
}

.principal .principal__foto #foto__alisson{

    width: 395px;
    height: 600px;    
    border-radius: 100px;
    margin-top: 50px;
    margin-bottom: 100px;
}